<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    </head>
    <body>
        <div class="main-content">

        {{>header}}
        <img class="portrait" src="../../public/img/patrick.png" />
        <p>This is a test node project</p>
        </div>


        {{>footer}}
        
        <script src="./js/app.js" async defer></script>
    </body>
</html>